@import '../../styles/theme.scss';

.container {
    display: flex;
}

.nav {
    margin: 25px;
    background-color: transparent;
    border: 0;
}

.children {
    gap: 2vw;
    overflow: auto;
    display: flex;

    &::-webkit-scrollbar {
        width: 25px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px $background;
        border-radius: 10px;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background-color: darken($background, 5%);
        border: 5px solid transparent;
        border-radius: 9px;
        background-clip: content-box;
    }
}