@import '../../styles/theme.scss';

.container {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 750px;
    background: rgba(darken($background, 5%), 0.90);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35%;
    width: 100%;
    padding: 15px;
    
    .preview {
        width: 100%;
        height: 100%;
        border-radius: 0.5em;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
}

.bottom {
    display: flex;
    flex-direction: column;
    height: 65%;
    width: 100%;
    padding: 1em;
    padding-top: 0;
    gap: 0.5em;
    
    .title {
        padding: 5px;
        font-size: 2rem;
        color: white;
    }

    .blog {
        margin-left: auto;
        height: 32.5px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        // height: 100%;
        width: 110px;
        font-size: 1.1rem;
        border-radius: 5px;
        border: none;
        background-color: lighten($background, 5%);
        transition: all 0.3s ease 0s;
        
        &:hover {
            cursor: pointer;
            background: $accent;
            background-size: 150% 220%;
            animation: gradient-animation 5s ease infinite;
        }
    }

    .description {
        margin: 0;
        padding: 0;
        font-size: 1rem;
        color: darken(white, 15%);
        align-self: center;
        // margin-bottom: auto;
        // max-height: 245px;
        height: 260px;
        overflow-y: auto;

    }

    .source {
        height: 100%;
        color: darken(white, 15%);
        float: right;
        transition: all 0.2s ease 0s;
        cursor: pointer;

        &:hover {
            color: $accent;
        }
    }

    .techs {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 1em;
        align-self: center;
        margin-top: 10px;

        .tech {
            // height: 20px;
            background: $accent;
            background-size: 150% 220%;
            animation: gradient-animation 5s ease infinite;
            padding: 5px;
            border-radius: 5px;
            //Align self to center

        }
    }
}

.private-source {
    transition: all 0.2s ease 0s;
    position: fixed;
    background-color: #FF5555;
    width: 100%;
    overflow: hidden;
    height: 150px;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}