@import '../../styles/theme.scss';

.skills {
    display: flex;
    overflow-y: auto;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .skill {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            font-size: 1.5rem;
            font-weight: 600;
        }

        .items {
            display: flex;
            flex-direction: row;
            gap: 3em;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 1em;
        }
    }
}

//For the skill-item component

.skill-item {
    display: flex;
    flex-direction: column;
    min-width: 175px;
    background-color: rgba(darken($background, 5%), 0.8);
    backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 1em;
    padding: 1em;
    gap: 1em;
    transition: all 0.3s ease-in-out;

    .image {
        width: 75px;
        height: 75px;
        margin: auto;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    .name {
        font-size: 1.5em;
        text-align: center;
    }
}

@media (max-width: 1000px) {
    .skills {
        display: flex;
        overflow-y: auto;
        max-width: 100%;

        .skill .items {
            gap: 1em;

            .title {
                padding: 0.5em;
            }
        }
    }

    //Scale down the skill-item component
    .skill-item {
        min-width: 150px;
        padding: 0.5em;
        gap: 0.5em;

        .image {
            width: 50px;
            height: 50px;
        }

        .name {
            font-size: 1em;
        }
    }
}