@import '../../styles/theme';

.container {
    max-width: 800px;
    width: 100%;
    background: rgba(darken($background, 5%), 0.90);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 15px;
    padding-bottom: 0px;
    border-radius: 5px;

    .header {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        margin-bottom: 10px;
    }

    .title {
        height: 50px;
        font-size: 2.25rem;
    }

    .body {
        padding: 0;
        padding-bottom: 5px;
        word-wrap: break-word;
    }
}

.markdown img {
    max-width: 100%;
    height: auto;
}